:root {
  --bg-light: #c8cfcf;
}

body {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--bg-light);
  width: auto;
}
h1 {
  margin: 0.5rem 0;
}
.container {
    background: #ffffff;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: .5rem;
}
.userSection{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 0 0 1rem 1rem;
}
.divelement{
    border-bottom: 1px solid;
    padding: .3rem 1rem;
}

.addnew{
    color: #e2fcff;
    border: none;
    background-color: #5656ff;
    font-weight: bold;
    padding: .4rem .7rem;
    border-radius: 5px;
}
